body { margin: 10px; }
.well { padding: 2px 5px; text-align:center; }

#mq1 .marquee-item,
#mq2 .marquee-item,
#mq3 .marquee-item {
    width: 100%;
}

#mq1 { height: 20px; }
#mq2 {
    padding: 5px;
    height: 55px;
}
#mq3 {
    padding: 5px 0px;
    height: 30px;
}
#mq3 .marquee-item {
    text-align: center;
    font-size: 2em;
}
h4.example3 { text-align: center; }
.well-center {
    text-align: center;
}
.frame {
    width: 320px;
    height: 260px;
    border: 1px solid #bbb;
    padding: 3px;
}
.frame h3 { padding: 0px 5px; margin: 0px; }
.frame p.caption { padding: 0px 5px; margin: 0px; }
#polaroid { height: 180px; width: 100%; }
#polaroid .marquee-item { width: 100%; }