@import url("//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css");

/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/
/* Body and structure
-------------------------------------------------- */
body {
  position: relative;
  padding-top: 60px;
  background: #eeeeee;
}
body .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #eee;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.25);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}
body .sidebar .nav {
  border: 1px solid #dddddd;
  background-color: #FFF;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  width: 210px;
}
body .sidebar .nav li {
  border-bottom: 1px solid #dddddd;
  margin: 0;
}
body .sidebar .nav li.nav-header {
  background-color: #333;
  color: #FFF;
  text-shadow: none;
}
body .sidebar .nav li.nav-header i {
  margin-right: 10px;
  margin-left: 10px;
}
body .sidebar .nav li a {
  color: #999;
  margin: 0;
}
body .sidebar .nav li.active a {
  color: #FFFFFF;
  background-color: #428bca;
}
body .main {
  background-color: #FFFFFF;
  padding: 10px;
  height: auto;
}
